<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="@{_header.html}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(function(){
        $('.next').click(function(){
            if($('.terms').is(':checked') && $('.privacy').is(':checked')){
                return true;
            }else{
                alert('약관에 동의해주십시요.')
                return false;
            }
        });
    });
</script>
        <main id="user" class="terms">
            <table border="0">
                <caption>사이트 이용약관</caption>
                <tr>
                    <td>
                        <textarea class="terms" readonly th:text="${terms.terms}"></textarea>
                        <label><input type="checkbox" class="terms">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <table border="0">
                <caption>개인정보 취급방침</caption>
                <tr>
                    <td>
                        <textarea class="privacy" readonly th:text="${terms.privacy}"></textarea>
                        <label><input type="checkbox" class="privacy">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <p>
                <a th:href="@{/user/login}" class="cancel">취소</a>
                <a th:href="@{/user/register}" class="next">다음</a>
            </p>            
        </main>
<th:block th:include="@{_footer.html}"/>
</html>