<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
            <p>
                <span class="nick" sec:authentication="principal.user.name"></span>님 반갑습니다.
                <a href="/user/logout" class="logout">[로그아웃]</a>
            </p>
        </header>

        <main id="board" class="list">
            
            <table border="0" style="table-layout:fixed">
            	<colgroup>
            		<col width="10%"></col>
            		<col width="50%"></col>
            		<col width="20%"></col>
            		<col width="10%"></col>
            		<col width="10%"></col>
            	</colgroup>
                <caption>글목록</caption>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                    <th>조회</th>
                </tr>
                <th:block th:if="${#lists.isEmpty(articles)}">
                	<tr>
                		<td colspan="5">등록된 게시글이 없습니다.</td>
                	</tr>
                </th:block>
                <th:block th:each="article : ${articles}">
                <tr>
                    <td>[[${pageGroup.count - articleStat.index}]]</td>
                    <td><a th:href="@{/view(no=${article.no})}">[[${article.title}]]&#91;[[${article.comment}]]&#93;</a></td>
                    <td>[[${article.uid}]]</td>
                    <td>[[${article.rdate}]]</td>
                    <td>[[${article.hit}]]</td>
                </tr>               
                </th:block>
            </table>

            <div class="page">
            	<th:block th:if="${pageGroup.pageGroupStart > 1}">
            		<a th:href="@{/list(pg=${pageGroup.pageGroupStart - 1})}" class="prev">이전</a>
            	</th:block>
                <th:block th:each="num : ${#numbers.sequence(pageGroup.pageGroupStart,pageGroup.pageGroupEnd)}">
                	<a th:href="@{/list(pg=${num})}" class="num" th:class="${pageGroup.pg} == ${num} ? 'current' : 'off'">[[${num}]]</a>
                </th:block>
				<th:block th:if="${pageGroup.pageGroupEnd < pageGroup.lastPageNum}">
                	<a th:href="@{/list(pg=${pageGroup.pageGroupEnd + 1})}" class="next">다음</a>
                </th:block>
            </div>

            <a th:href="@{/write}" class="btnWrite">글쓰기</a>

        </main>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>
</html>