<div id="sub">
    <div><img src="../img/sub_top_tit3.png" alt="CROP TALK"></div>
    <section class="cate3">
        <aside>
            <img src="../img/sub_aside_cate3_tit.png" alt="농작물이야기"/>

            <ul class="lnb">
                <li th:class="${cate.equals('story') ? 'on' : 'off'}"><a th:href="@{/board/list(group=_croptalk, cate=story, pg=1)}">농작물이야기</a></li>
                <li th:class="${cate.equals('grow') ? 'on' : 'off'}"><a th:href="@{/board/list(group=_croptalk, cate=grow, pg=1)}">텃밭가꾸기</a></li>
                <li th:class="${cate.equals('school') ? 'on' : 'off'}"><a th:href="@{/board/list(group=_croptalk, cate=school, pg=1)}">귀농학교</a></li>
            </ul>

        </aside>
        <article>
            <nav>
                <img th:src="@{'/img/sub_nav_tit_cate3_'+${cate}+'.png'}" th:alt="${cate}"/>
                <p th:if="${cate.equals('story')}">HOME > 농작물이야기 > <em>농작물이야기</em></p>
                <p th:if="${cate.equals('grow')}">HOME > 농작물이야기 > <em>텃밭가꾸기</em></p>
                <p th:if="${cate.equals('school')}">HOME > 농작물이야기 > <em>귀농학교</em></p>

            </nav>