<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    	$(function(){
    		list();
    		
    		//댓글
    		function list(){
    			let uid = $('input[name=replyUid]').val();
    			let no = $('input[name=no]').val();
    			$.ajax({
    				url : 'replyList/'+no,
    				method : 'get',
    				dataType : 'json',
    				success : function(data){
						$('.commentList > article').remove();
    					if(data.length == 0){
    							let tag = "<p class='empty'>등록된 댓글이 없습니다.</p>";
    							$('.commentList').append(tag);
    					}else{
        					for(i in data){
        						let tag = "<article>";
	        						tag += "<span class='nick'>"+data[i].nick+"</span>&nbsp;";
	        						tag += "<span class='date'>"+data[i].rdate+"</span>  ";
	        						tag += "<p class='content'>"+data[i].content+"</p>";
        						if(uid == data[i].uid){
	        						tag += "<div>";
	        						tag += "<a href='#' class='remove' data-no='"+data[i].no+"'>삭제</a>&nbsp;";
	        						tag += "<a href='#' class='modify' data-no='"+data[i].no+"'>수정</a>";
	        						tag += "</div>";
        						}
        						tag += "</article> ";
        						$('.commentList').append(tag);
        					}
    					}
    				}
    			});
    		};
    		
    		//등록
    		$('.btnComplete').click(function(){
    			let uid = $('input[name=replyUid]').val();
    			let nick = $('input[name=replyNick]').val();
    			let parent = $('input[name=no]').val();
    			let content = $('.comment').val();
    			let jsonData = {
    					'uid' : uid,
    					'nick' : nick,
    					'parent' : parent,
    					'content' : content
    			}
    			console.log(jsonData);
    			$.ajax({
    				url : 'replyRegister',
    				method : 'post',
    				data : jsonData,
    				dataType : 'json',
    				success : function(data){
    					list();
    					alert("댓글이 등록되었습니다.");
    					$('.comment').val('');
    				}
    			});
    		});
    		
    		//삭제
    		$(document).on('click','.remove', function(){
    			let no = $(this).data('no');
    			$.ajax({
    				url : 'replyDelete/'+no,
    				method : 'delete',
    				dataType : 'json',
    				success : function(data){
    					if(data > 0){
        					list();
        					alert("댓글이 삭제되었습니다.");
    					}
    				}
    			});
    		});
    		
    		//수정
    		$(document).on('click','.modify', function(){
    			let no = $(this).data('no');
    			let jsonData = {
    				'no' : no,
    				'content' : content,
    			}
    			
    			$.ajax({
    				url : 'replyModify',
    				method : 'put',
    				data : jsonData,
    				dataType : 'json',
    				success : function(data){
    					if(data > 0){
        					list();
        					alert("댓글이 수정되었습니다.");
    					}
    				}
    			});
    		});
    		
    	});
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
            <p>
                <span class="nick" sec:authentication="principal.user.nick"></span>님 반갑습니다.
                <a th:href="@{/user/logout}" class="logout">[로그아웃]</a>
            </p>
        </header>

        <main id="board" class="view">
            
            <table>
                <caption>글보기</caption>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" readonly th:value="${articleVO.title}"/></td>
                </tr>
                <tr th:if="${articleVO.file == 1}">
                    <th>파일</th>
                    <td><a th:href="@{/download(fno=${articleVO.filevo.fno})}" th:text="${articleVO.filevo.oriName}"></a>&nbsp;<span th:text="${articleVO.filevo.download}"></span>회 다운로드</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea name="content" readonly th:text="${articleVO.content}"></textarea></td>
                </tr>
            </table>

            <div>
                <a th:href="@{/delete(no=${articleVO.no}, newName=${articleVO.filevo.newName})}" class="btn btnRemove">삭제</a>
                <a th:href="@{/modify(no=${articleVO.no}, pg=${pg})}" class="btn btnModify">수정</a>
                <a th:href="@{/list(pg=${pg})}" class="btn btnList">목록</a>
            </div>

            <!-- 댓글목록 -->
            <section class="commentList">
            	<h3>댓글목록</h3>
            </section>

            <!-- 댓글쓰기 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <input type="hidden" name="replyUid" th:value="${#authentication.principal.user.uid}"/>
                <input type="hidden" name="replyNick" th:value="${#authentication.principal.user.nick}"/>
                <input type="hidden" name="no" th:value="${articleVO.no}"/>
                   <textarea name="content" class="comment" placeholder="댓글내용 입력"></textarea>
                   <div>
                       <a href="#" class="btn btnCancel">취소</a>
                       <input type="submit" class="btn btnComplete" value="작성완료"/>
                   </div>
            </section>
        </main>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>
</html>